[project]
	description = Stupid file sender
[access "refs/*"]
	owner = group user/José Guilherme Vanz (guilhermesft)
[access "refs/for/refs/*"]
	read = group user/José Guilherme Vanz (guilhermesft)
	push = group user/José Guilherme Vanz (guilhermesft)
	label-Code-Review = -2..+2 group user/José Guilherme Vanz (guilhermesft)
	label-Verified = -1..+1 group user/José Guilherme Vanz (guilhermesft)
	rebase = group user/José Guilherme Vanz (guilhermesft)
	removeReviewer = group user/José Guilherme Vanz (guilhermesft)
	submit = group user/José Guilherme Vanz (guilhermesft)
[access "refs/heads/*"]
	read = group user/José Guilherme Vanz (guilhermesft)
	create = group user/José Guilherme Vanz (guilhermesft)
	push = +force group user/José Guilherme Vanz (guilhermesft)
	pushMerge = group user/José Guilherme Vanz (guilhermesft)
[access "refs/tags/*"]
	push = +force group user/José Guilherme Vanz (guilhermesft)
	pushTag = group user/José Guilherme Vanz (guilhermesft)
	pushSignedTag = group user/José Guilherme Vanz (guilhermesft)
